.edit-form-container {
    height: 70vh;
    width: 70vw;
    justify-self: center;
   margin-top: 40px;
}

.edit-post-form {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.edit-title {
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 4px;
}

.edit-content {
    flex: 1;
    border: 2px solid rgb(177, 175, 175);
    border-radius: 4px;
    margin-bottom: 3px;
}

.edit-author, .edit-date {
width: 40vh;
}

.edit-post-form button {
    align-self: flex-end;
    padding: 10px;
    background-color: rgb(105, 10, 90);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.edit-post-form button:hover {
        background-color: rgb(151, 19, 131);
}